@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
/*
 *= require bootstrap-table
 */
body {
  font-family: Architects Daughter;
}
.index {
  background-image: url("http://images3.alphacoders.com/250/25007.jpg");
  text-align: center;
  background-size: 100%;
}
.index button {
  margin-bottom: 50px;
}
h1 {
  color: red;
}
a {
  width: 100px;
}
.success {
    color: darkseagreen;
}

.error {
    color: darkred;
}
.login {
  text-align: center;
}

#header {
  font-size: 15px;
  position: relative;
}
#header img {
  height: 200px;
}

li {
  display: inline-block;
}

.pic img {
  height: 80px;
  width: 80px;
  border-radius: 100px;
}
th, td {
  border-bottom: 1px solid #ddd;
}

#table {
  width: 700px;
}

.container {
  max-width: 900px;
  margin: auto;
  // background-color: #efefef;
  color: black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}

#comments {
  max-width: 650px;

}
.comments {
  // text-align: center;

}


h4 {
  color: white;
}
body {
  padding-top: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 5px double red;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}


footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  padding-right: 40px;
}

.titles {
  color: red;
}
h1, h2, h3, h5, h6 {
  color: red;
}
.login1 {
  padding-bottom: -100px;
}
#resgisterModal{
  width: 108px;
}
p, td, th, .nav {
  font-size: 20px;
}
.view a {
  color: white !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: red;
}
