@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require bootstrap-table
 */

.index {
  font-family: Courier;
  text-align: center;
}
h1 {
  color: red;
}
a {
  width: 100px;
}
.success {
    background-color: darkseagreen;

}

.error {
    background-color: rosybrown;
}
#login {
  text-align: center;
}

#header {
  font-size: 15px;
  position: relative;
}
#header img {
  height: 200px;
}

li {
  display: inline-block;
}

.pic img {
  height: 80px;
  width: 80px;
}
th, td {
  border-bottom: 1px solid #ddd;
}

#table {
  width: 700px;
}

.container {
  max-width: 750px;
  margin: auto;
  background-color: #efefef;
  color: black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;

}
body {
  border: 1px solid black;
  // background-image: url(http://previews.123rf.com/images/scottff72/scottff721305/scottff72130500015/19756456-Music-stage-or-singing-background-microphone-guitar-and-speakers-with-wood-flooring-Stock-Photo.jpg);
}


