@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require bootstrap-table
 */

.index {
  font-family: Courier;
  text-align: center;
}
h1 {
  color: red;
}
a {
  width: 100px;
}
.success {
    background-color: darkseagreen;

}

.error {
    background-color: rosybrown;
}
#login {
  text-align: center;
}

#header {
  font-size: 15px;
  position: relative;
}

li {
  display: inline-block;
}

.pic img {
  height: 80px;
  width: 80px;
}
th, td {
  border-bottom: 1px solid #ddd;
}

#table {
  width: 700px;
}
