<!DOCTYPE html>
<html>
<head>
  <title>JamSession</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <ul>
  <li>Profile</li>
  <li>Jam Sessions</li>
  <li>Messages</li>
  <li>Search for Jam Mate</li>
  <li>Logout</li>
</ul> -->

<%= yield %>

</body>
</html>
